/* Reset all non-metadata HTML elements. */
a,
abbr,
address,
area,
article,
aside,
audio,
b,
bdi,
bdo,
blockquote,
body,
br,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
data,
datalist,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
main,
map,
mark,
menu,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
picture,
pre,
progress,
q,
rb,
rp,
rt,
rtc,
ruby,
s,
samp,
script,
section,
select,
slot,
small,
source,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
template,
textarea,
tfoot,
th,
thead,
time,
tr,
track,
u,
ul,
var,
video,
wbr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Set default display value to block on non-inline HTML5 elements for older browser support. */
article,
aside,
audio,
canvas,
datalist,
details,
dialog,
embed,
figcaption,
figure,
footer,
header,
main,
meter,
nav,
output,
progress,
section,
source,
summary,
svg,
track,
video {
  display: block;
}

/* Set default display value to block on inline HTML5 elements for older browser support. */
bdi,
mark,
rp,
rt,
rtc,
ruby,
time,
wbr,
{
  display: inline;
}

// Set line-height and box-sizing at body level.
body {
  box-sizing: border-box;
  line-height: 1;

  // Set all child elements of body to inherit box-sizing
  * {
    box-sizing: border-box;
  }
}

// Set all child elements of body to inherit box-sizing
body * {
  box-sizing: border-box;
}

// Ensure both links and buttons have a default hover state.
a,
button {
  cursor: pointer;
}

// Remove default list styles.
ol,
ul {
  list-style: none;
}

// Remove default quote styles
blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: '';
    content: none;  
  }
}

// Reset default table styles
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Force [hidden] display for accessibility.
[hidden] {
  display: none;
}
