/* ------------------- */
// Reset styles on all non-metadata and non-deprecated HTML elements; this creates consistent and
// expected behavior in font-styles and spacing of all elements.
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element
/* ------------------- */
// a, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a
// abbr, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/abbr
// acronym, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/acronym
// address, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/address
// applet, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/applet
// area, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/area
// article, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article
// aside, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/aside
// audio, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio
// b, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/b
// basefont, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/basefont
// bdi, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/bdi
// bdo, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/bdo
// bgsound, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/bgsound
// big, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/big
// blink, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blink
// blockquote, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote
// body, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body
// br, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/br
// button, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button
// canvas, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/canvas
// caption, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/caption
// center, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/center
// cite, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/cite
// code, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code
// col, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/col
// colgroup, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/colgroup
// content, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/content
// data, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/data
// datalist, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist
// dd, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dd
// del, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del
// details, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details
// dfn, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dfn
// dialog, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog
// dir, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dir
// div, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div
// dl, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl
// dt, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dt
// em, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em
// embed, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/embed
// fieldset, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset
// figcaption, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption
// figure, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure
// footer, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer
// font, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/font
// form, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form
// frame, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/frame
// frameset, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/frameset
// h1, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h1
// h2, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h2
// h3, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h3
// h4, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h4
// h5, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h5
// h6, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h6
// header, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header
// hgroup ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hgroup
// hr, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr
// html, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/html
// i, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i
// iframe, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe
// image, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/image
// img, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img
// input, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input
// ins, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins
// kbd, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
// keygen, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/keygen
// label, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label
// legend, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/legend
// li, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/li
// main, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main
// map, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/map
// mark, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/mark
// marquee, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/marquee
// math, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/math
// menu, ⚠️ Experimental, don't use in production yet.
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/menu
// meter, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meter
// menuitem, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/menuitem
// nav, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav
// nobr, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nobr
// noembed, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noembed
// noframes, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noframes
// noscript, 🤖 // Doesn't (usually) render on the page
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noscript
// object, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/object
// ol, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol
// optgroup, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/optgroup
// option, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option
// output, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/output
// p, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p
// param, 👻 // Doesn't render on the page
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/param
// picture, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture
// plaintext, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/plaintext
// pre, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/pre
// progress, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress
// q, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q
// rb, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rb
// rp, 👻 // Doesn't render on the page
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rp
// rt, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rt
// rtc, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rtc
// ruby, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ruby
// s, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/s
// samp, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/samp
// script, 👻 // Doesn't render on the page
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script
// section, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/section
// select, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select
// shadow, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/shadow
// slot, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/slot
// small, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/small
// source, 👻 // Doesn't render on the page
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/source
// spacer, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/spacer
// span, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/span
// strike, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strike
// strong, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong
// sub, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sub
// summary, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/summary
// sup, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sup
// svg, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/svg
// table, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table
// tbody, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tbody
// td, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td
// template, 👻 // Doesn't render on the page
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/template
// textarea, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea
// tfoot, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tfoot
// th, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/th
// thead, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/thead
// time, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time
// tr, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tr
// track, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/track
// tt, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tt
// u, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/u
// ul, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul
// var, ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/var
// video ✅
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video
// wbr, 👻 // Doesn't render on the page
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/wbr
// xmp, ⚠️ Deprecated
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/xmp

// Using asterisk ("all") selector versus specific elements for performance.
*,
*::before,
*::after {
  // No backgrounds, especially on pesky buttons.
  background: none;

  // No borders, most dinstinctly recognized on buttons and inputs.
  border: none;

  // Set the `box-sizing` property to `border-box` for easier positioning/spacing.
  box-sizing: border-box;

  // Reset `color` to default/initial state on all elements.
  color: initial;

  // Resetting all elements to 100%.
  // ♿️ Accessibility Note: Setting `font-size` to 100% and NOT a value including
  // units is incredibly important to allow user's default font-size changes to their browser
  // preferences to be honored; additionally, it is recommended to use `rem` values in your
  // authored styles to support zooming correctly.
  font-size: 100%;

  // Reset `font-style` to normal on all elements.
  font-style: normal;

  // Reset `font-weight` to normal on all elements.
  font-weight: normal;

  // Remove `margin` on all elements.
  margin: 0;

  // Remove `padding` on all elements.
  padding: 0;

  // 📝 `text-decoration` is currently left out of the reset, as there are some demarcating elements
  // related to inline text semantics that become useles without it, and are generally used less
  // frequently, and restlyed even less frequently (e.g. `<abbr>, <s>, and <u>`). `text-decoration`
  // is, however, specifically removed on links/anchor elements (`<a>`) in the `_links.scss` partial.

  // Position all elements that are positioned inline on the baseline for consistency.
  vertical-align: baseline;
}
