// Reset all non-metadata and non-deprecated HTML elements.
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element
a,
abbr,
address,
area,
article,
aside,
audio,
b,
bdi,
bdo,
blockquote,
body,
br,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
data,
datalist,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
main,
map,
mark,
math,
menu,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
picture,
pre,
progress,
q,
rb,
rp,
rt,
rtc,
ruby,
s,
samp,
script,
section,
select,
slot,
small,
source,
span,
strong,
sub,
summary,
sup,
svg,
table,
tbody,
td,
template,
textarea,
tfoot,
th,
thead,
time,
tr,
track,
u,
ul,
var,
video,
wbr {
  background: none;
  border: none;
  font: inherit;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

// Set default display value to `block` on block-level/non-inline HTML5 elements for older browser support.
article,
aside,
audio,
canvas,
datalist,
details,
dialog,
embed,
figcaption,
figure,
footer,
header,
main,
meter,
nav,
output,
progress,
section,
source,
summary,
svg,
track,
video {
  display: block;
}

// Set default display value to `inline` on inline HTML5 elements for older browser support.
bdi,
mark,
rp,
rt,
ruby,
time,
wbr,
 {
  display: inline;
}

// Set `box-sizing` to `border-box` on all elements.
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Body
body {
  line-height: 1.5;
  min-height: 100vh;
  text-size-adjust: none;
  width: 100%;
}

// Ensure interactive elements have a pointer cursor on hover.
a,
button,
details,
label,
select {
  cursor: pointer;
}

// Remove default styles on unfocused buttons and selects.
button,
select {
  appearance: none;
  outline: none;
}

// Remove default list styles.
ol,
ul {
  list-style: none;
}

// Old school text styles.
b {
  font-weight: bold;
}
i {
  font-style: italic;
}

code {
  font-family: monospace;
}

sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}

// Set the display and max-width for image/multimedia and embedded content tags to place items on a new line and prevent side-scroll.
embed,
iframe,
img,
object,
picture,
video {
  max-width: 100%;
  display: block;
}

// Remove default quote styles.
blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: none;
  }
}

// Reset default table styles.
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// So this element doesn't disappear (as it is a void / self-closing element).
hr {
  border: 1px inset;
}
